
body{
  background-image: url(../Elements/backgroundcorto.jpg);

;
}

h1{
    font-family: "Gideon Roman";
    border-radius: 20%;
    font-size: 70px;
}

.row{
  display: flex;
}
.col-4{
  padding: 3%;
  
}
.col-8{
  padding: 3%;  
}
.col{
  padding:3px;
}
.box{
  display: flex;
  flex-direction: row;
  width: 100%;
 
}
button.groove {
  border-style: groove;
  border-radius:8px;
  padding:5px;
  background-color: transparent;
}
a{
  color: #000;
  font-family: "Staatliches";
}
a:link{
  color:#000;
}
a:hoover {
  color:#000;
}
a:active{
  color:#000;
}
.groove{
  border-style: groove;
  border-radius:8px;
  padding:5px;
}
.groove:hover{
  transform: scale(1.1);
}
.btn-group-lg { 
  background-color: transparent;
}
.jumbotron-fluid{
  background: linear-gradient( 35deg,
  #ccffff,
  #ffcccc
);

}
.title-portfolio{
  margin-left: 30px;
  font-size: 50px;
  font-family: "Gideon Roman";
}
p{
  font-family: 'Ubuntu', sans-serif;
}
li{font-family: 'Ubuntu', sans-serif}

#aboutme{
  font-size: 20px;
  position:relative;

  
}

#hero{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  position: relative;
  background-attachment: fixed;
}
